@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg#../fonts/Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg#../fonts/Gilroy-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg#../fonts/Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #F2F2F2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.button {
  background: #F2323D;
  border: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

h1 {
  font-size: 36px;
  line-height: 130%;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 98px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callback__number {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}
.callback__text {
  font-weight: 500;
  font-size: 13px;
}

.hero {
  display: flex;
  margin-bottom: 96.5px;
}
.hero__text {
  max-width: 560px;
}
.hero__title {
  width: 526px;
  padding-bottom: 20px;
}
.hero__descriptions {
  width: 350px;
  margin-bottom: 50px;
}
.hero__button {
  display: inline-block;
  padding: 20px 32px;
  margin-bottom: 100px;
}
.hero__image {
  margin-top: -100px;
  margin-left: -100px;
  margin-right: -150px;
  width: 968px;
}

.benefits {
  display: flex;
  align-items: center;
}
.benefits__item {
  position: relative;
  line-height: 120%;
  padding-right: 20px;
}
.benefits__item::before {
  content: "";
  display: block;
  width: 1px;
  height: 92px;
  position: absolute;
  top: -50%;
  left: 0;
  transform: translate(0, 50%);
  background-color: #E9E9E9;
}
.benefits__item img {
  margin-left: 13px;
  margin-bottom: 16px;
}
.benefits__item span {
  display: inline-block;
  margin-left: 13px;
}

.about {
  margin-top: 56.5px;
}
.about__title {
  max-width: 500px;
  margin-bottom: 40px;
}
.about__specialization {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__item {
  display: flex;
  width: 48%;
  margin-bottom: 60px;
}
.about__text {
  padding-left: 30px;
}
.about img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.about__subtitle {
  margin-top: 15px;
  margin-bottom: 20px;
}
.about__description {
  line-height: 120%;
}
.about__element {
  display: flex;
  margin-bottom: 12px;
  line-height: 140%;
}
.about__element::before {
  content: "";
  margin-top: 9px;
  margin-right: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.about__screenshoot {
  margin-bottom: 80px;
}/*# sourceMappingURL=style.css.map */