.header

  &-menu
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 32px
    padding-bottom: 98px
.nav
  &__list
    display: flex
    justify-content: space-between
    gap: 50px

.callback
  display: flex
  flex-direction: column
  align-items: center
  &__number
    display: flex
    align-items: center
    gap: 8px
    font-weight: 600
  &__text
    font-weight: 500
    font-size: 13px

.hero
  display: flex
  &__text
    max-width: 560px
  &__title
    width: 526px
    line-height: 130%
    padding-bottom: 20px
  &__descriptions
    width: 350px
    margin-bottom: 50px
  &__button
    display: inline-block
    padding: 20px 32px
    margin-bottom: 50px

  .benefits
    display: flex
    align-items: center
    &__item
      position: relative
      line-height: 120%
      margin-right: 40px
      img
        margin-bottom: 16px
      &::before
        content: ''
        display: block
        width: 1px
        height: 92px
        position: absolute
        top: -50%
        left: 0
        transform: translate(0, 50%)
        background-color: #E9E9E9
